<div class="modalHeader">
    <h4 *ngIf="data.extensionType=='17'">Video</h4>
    <h4 *ngIf="data.extensionType=='16'">Image</h4>
    <h4 *ngIf="data.extensionType=='15'">Textblock</h4>
    <button mat-icon-button ria-label="Close dialog" mat-button mat-dialog-close>
        <mat-icon mat-button mat-dialog-close>close</mat-icon>
    </button>
</div>
<br>

<div class="col-md-12" style="overflow: hidden;">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width" appearance="outline" *ngIf="data.extensionType=='17'">
            <mat-label>YouTube Video URL</mat-label>
            <input matInput type="text" formControlName="mediaURL">
            <mat-icon matSuffix>ondemand_video</mat-icon>
        </mat-form-field>
        <div *ngIf="data.extensionType=='16'">
            <mat-label>Attach Image</mat-label>
            <div class="col-md-11">
                <input type="file" (change)="onFileSelect($event)" name="imageURL">
            </div>
            <br>
            <div class=" col-md-3" *ngIf="imageURL && imageURL !== ''">
                <img [src]="imageURL">
            </div>
            <br>
            <!-- <div class="col-md-11">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Image Caption</mat-label>
                    <input matInput type="text" formControlName="textContent">
                    <mat-icon matSuffix>image</mat-icon>
                </mat-form-field>
            </div> -->
        </div>
        <div *ngIf="data.extensionType=='15'">
            <div style="height: 450px; overflow:scroll;overflow-x:hidden">

                <mat-label>Article</mat-label>
                <ckeditor [editor]="Editor" formControlName="textContent" data="<p>Hello, world!</p>"></ckeditor>
            </div>
        </div>
        <div class="buttonrow">
            <button mat-raised-button color="primary" type="submit">SAVE</button>
            <button mat-raised-button color="warn" type="button" mat-dialog-close>CANCEL</button>
        </div>
    </form>
</div>