<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <mat-dialog-content>
      <div class="modalHeader">
        <div class="editRowModal">
          <div class="modalHeader clearfix">
            <div class="modal-about">
              <div class="font-weight-bold p-t-5 font-17"><h3>SubCategory (SubSection / Essential Section)</h3></div>
            </div>
          </div>
        </div>
        <button mat-icon-button ria-label="Close dialog" mat-button mat-dialog-close>
          <mat-icon mat-button mat-dialog-close>close</mat-icon>
        </button>
      </div>
      <hr>
      <br>
     <div style="overflow:hidden">
    
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>SubCategory</mat-label>
          <input matInput formControlName="subCategoryName">
          <mat-icon matSuffix>building</mat-icon>
          <!-- <mat-error *ngIf="advanceTableForm.get('title').hasError('required')">
            First Name is required
          </mat-error> -->
        </mat-form-field>
    
 
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Publication</mat-label>
            <mat-select formControlName="publicationID" required>
              <mat-option *ngFor="let r of lookup" [value]="r.lookupID">
                {{r.title}}
              </mat-option>
              
            </mat-select>
            <mat-icon matSuffix>flag</mat-icon>
             
          </mat-form-field>
  

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select formControlName="categoryID" required>
              <mat-option *ngFor="let r of categories" [value]="r.categoryID">
                {{r.categoryName}}
              </mat-option>
              
            </mat-select>
            <mat-icon matSuffix>flag</mat-icon>
             
          </mat-form-field>


          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Article Type</mat-label>
            <mat-select formControlName="articleTypeID" required>
              <mat-option *ngFor="let r of articletypes" [value]="r.lookupID">
                {{r.title}}
              </mat-option>
              
            </mat-select>
            <mat-icon matSuffix>flag</mat-icon>
             
          </mat-form-field>

        </div>
    </mat-dialog-content>
    
    <mat-dialog-actions>
      <button class="btn btn-danger" type="submit" [disabled]="myForm.invalid">Create SubCategory</button>
    </mat-dialog-actions>
    </form>