<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <h1 _ngcontent-ddl-c339="" class="margin-0">FAQ</h1>
                        <br>
                   


                 
                     

                        <div class="container">
                            <div class="row">
                              <div class="col-sm">

                                <h2 _ngcontent-ddl-c339="" id="tincidunt-veni-tellus-orci-aenean-consectetuer">
                                    How to create an Article for Tradearabia and Magazines?
                                </h2>

                                <p>
                                    On the left hand side menu click on Latest > Add new or Latest > View all page right
                                    side to you have a button to create new article.
                                </p>
                                <p>
                                    If you are creating for daily news select Tradearabia from the publication and
                                    select corresponding magazine from subsection.
                                </p>
                                <p>
                                    If you are creating for monthly / issue article, then select corresponding
                                    Publication and select issue.
                                </p>
                              </div>
                              
                            </div>
                          </div>


                          <br>
                        <div class="container">
                            <div class="row">
                              <div class="col-sm">
                                <h2 _ngcontent-ddl-c339="" id="tincidunt-veni-tellus-orci-aenean-consectetuer">
                                    How to add / edit dropdown values?
                                </h2>
                                <p>
                                    On the left hand side menu click on Settings select the section and add / edit values, it will be then reflected in the dropdown list.
                                </p>
                               
                              </div>
                              
                            </div>
                          </div>

                          <br>
                          <div class="container">
                              <div class="row">
                                <div class="col-sm">
                                  <h2 _ngcontent-ddl-c339="" id="tincidunt-veni-tellus-orci-aenean-consectetuer">
                                      How to add / edit Users?
                                  </h2>
                                  <p>
                                      Only Administrator has the permission to add or edit user / password. Contact Administrator to add or edit user.
                                  </p>
                                 
                                </div>
                                
                              </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>